requests
discord.py
git+https://github.com/dolfies/discord.py-self@renamed#egg=selfcord.py
beautifulsoup4
git+https://github.com/AnthonyZJiang/truthbrush.git
git+https://github.com/AnthonyZJiang/quick-imgur-py.git